# MongoDB Connection URL
MONGODB_URL=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/?appName=your_app

# WAQI API Token (Air Quality data feed URL)
# Example: https://api.waqi.info/feed/chennai/?token=your_waqi_api_token_here
OPENWEATHER_API_KEY=https://api.waqi.info/feed/your_city/?token=your_waqi_api_token_here
